/* TABLET VERSION */
@media all and (min-width: 768px) {
    .container {
        width: 80%;
    }

    #ms_portfolio {
        width: 90%;
    }

    #footer-top .row {
        width: 95%;
    }
}

/* DESKTOP VERSION */
@media all and (min-width: 992px) {
    .container {
        width: 60%;
    }

    #ms_portfolio {
        width: 70%;
    }
}