/* Stili Header */
header .navbar {
    height: 100px;
}

header .navbar-dark .navbar-toggler {
    border-color: #ffff;
}

header .navbar-light .navbar-brand {
    color: #ffff;
}

/* Stili Main */
main {
    padding-top: 100px;
}

#ms_jumbotron, #ms_about {
    background-color: #1abc9c;
    padding: 30px 0;
}

/* Stili Jumbotron */
#ms_jumbotron .img-container {
    max-width: 100%;
    text-align: center;
}

#ms_jumbotron .img-container img {
    width: 300px;
}

.jumbotron-text-container .main-title {
    font-size: 35px;
    font-weight: 700;
    color: #ffff;
    padding-top: 10px;
}

.decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#ms_jumbotron .decoration .line {
    width: 70px;
    height: 4px;
    background-color: #ffff;
    margin: 0 10px;
    border-radius: 20px;
}

#ms_jumbotron .decoration i {
    color: #ffff;
    font-size: 30px;
}

.jumbotron-text-container .subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #ffff;
}


/* Stili Portfolio */
#ms_portfolio {
    width: 100%;
    margin: 40px auto;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.portfolio-text-container .decoration .line {
    width: 70px;
    height: 4px;
    background-color: black;
    margin: 0 10px;
    border-radius: 20px;
}

.portfolio-text-container .decoration i {
    font-size: 30px;
}

[class*="col-"] {
    margin: 20px 0;
}

#ms_portfolio .row {
    width: 95%;
    margin: 0 auto;
}

.card {
    width: 100%;
    border-radius: 20px;
}

#ms_portfolio .img-container img {
    max-width: 100%;
    border-radius: 20px;
}

/* Stili About */
.about-text-container .title {
    font-size: 25px;
    font-weight: 700;
    color: #ffff;
}

#ms_about .decoration .line {
    width: 70px;
    height: 4px;
    background-color: #ffff;
    margin: 0 10px;
    border-radius: 20px;
}

#ms_about .decoration i {
    color: #ffff;
    font-size: 30px;
}

#ms_about .about {
    width: 80%;
    margin: 0 auto;
}

#ms_about .text-about {
    color: #ffff;
}

#ms_about p {
    margin-bottom: 0;
}

.about-button-container a i {
    margin-right: 5px;
}

/* Stili Contatti */

#ms_contact {
    margin: 40px 0;
}

#ms_contact .decoration .line {
    width: 70px;
    height: 4px;
    background-color: black;
    margin: 0 10px;
    border-radius: 20px;
}

#ms_contact .decoration i {
    font-size: 30px;
}

#ms_contact .contact {
    width: 80%;
    margin: 0 auto;
}

#ms_contact .contact-form {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
}

#ms_contact .contact-col {
    margin: 5px;
}

#ms_contact .form-label {
    margin: 0;
}

.contact-submit {
    background-color: #1abc9c;
    color: #ffff;
}

/* Stili Footer */

/* Stili Footer Top */
#ms_footer-top, #ms_footer-bottom {
    color: #ffff;
}

#ms_footer-top {
    background-color: #3a546d;
    padding: 40px 0;
}

#ms_footer-top .row {
    width: 95%;
    margin: 0 auto;
}

.footer-top-content .footer-title {
    font-size: 18px;
    font-weight: 600;
}

.footer-top-content .footer-text {
    font-size: 18px;
}

#ms_footer-top a {
    text-decoration: none;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons a {
    color: #ffff;
    font-size: 22px;
}

.footer-icons i {
    border: 1px solid #ffff;
    border-radius: 50px;
    margin: 0 5px;
}

.footer-icons .fa-facebook-f {
    padding: 22px 27px;
}

.footer-icons .fa-google-plus-g {
    padding: 22px;
}

.footer-icons .fa-twitter {
    padding: 22px;
}

.footer-icons .fa-linkedin-in {
    padding: 22px 25px;
}

.footer-top-content .footer-text a {
    color: #1abc9c;
}

/* Stili Footer Down */
#ms_footer-bottom {
    background-color: #2c3e50;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
